@import url("font.css");

*{
  font-family: 'myfrida', sans-serif;
}
h2,h3,h4,p, button{
  font-family: 'myfrida_bold', sans-serif;
  color: white;
}
.hidden {
  opacity: 0;
}
.visible {
  opacity: 1;
}
.bg_purple_light {
  background: linear-gradient(#41287F,  #573399);
}
.bg_purple_dark {
  background-color: #2D1862;
}
.color_red {
  color: #EE1B4A;
}
.bg_red {
  background-color: #EE1B4A;
}
.bg_blue {
  background-color: #2AD4E2;
}
.slideInLeft, .slideInDown, .slideInRight, .zoomIn {
  animation-duration: .5s;
}
